.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #EEE;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color:  #5c5c5c;
}

p {
  font-size: 2rem;
  color: ##5c5c5c;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 20%;
}

footer {
  margin-top: 5%;
  color: #5c5c5c;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
